/* CSS declarations go here */

.navbar-default {
  background-color: #fff;
}

.navbar-header {
  font-family: "Lobster Two", cursive;
}

.minstant_brand {
  font-size: 24px;
}

.user_avatar{
	min-height:100px;
	text-align: center;

}
.avatar_img{
	height:75px;
}

.chat_page-heading {
  text-align: center;
}

.chat_page-chat_window {
  background-color: #fff;
}

.chat_message-avatar_img {
  object-fit: cover;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  margin-top: 1em;
}

.chat_message-well {
  border-radius: 30px;
  padding-left: 1em;
}

.my_message {
  background-color: #f4f7f7;
}
.other_message {
  background-color: #118DF0;
  color: #fff;
}

.chat_message_row {
  width: auto;
}

.media-heading {
  color: #8e8e8e;
  text-align: center;
  margin-bottom: 2em;
  font-weight: 200;
}

.my_heading {
  margin-left: 3em;
}
.other_heading {
  margin-right: 3em;
}

.chat_page-typer {
  margin-top: -27px;
}