/* CSS declarations go here */

.navbar-default {
  background-color: #fff;
  margin-bottom: 10px;
}

.navbar-header {
  font-family: "Lobster Two", cursive;
}

.collapsed-menu-button {
  margin-top: 21px;
  margin-right: 15px;
}

#minstant_brand {
  font-size: 36px;
  color: #118DF0;
  margin-bottom: 25px;
}

#login-dropdown-list {
  margin-top: 10px;
}

.user_avatar{
  margin-top: -1px;
	text-align: center;
}

.user_avatar .media-heading {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.user_avatar .bg-success {
  background-color: #d8fff1;
}

.user_list-heading {
  text-align: center;
  font-family: "Lobster Two", cursive;
}

.list-group-item {
  padding-top: 20px;
}

.avatar_img {
  object-fit: cover;
  border-width: thin;
  border-color: #118DF0;
  border-radius: 75px;
  border-style: solid;
  height: 75px;
  width: 75px;
}

.chat_page-heading {
  text-align: center;
  font-family: "Lobster Two", cursive;
  margin-top: 10px;
}

.chat_page-chat_window {
  background-color: #fff;
  min-height: 300px;
  height: 70vh;
  overflow: auto;
}

.chat_message-avatar_img {
  object-fit: cover;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  margin-top: 1em;
}

.chat_message-well {
  border-radius: 30px;
  padding-left: 1em;
}

.my_message {
  background-color: #f4f7f7;
}
.other_message {
  background-color: #118DF0;
  color: #fff;
}

.chat_message_row {
  width: auto;
}

.media-heading {
  color: #8e8e8e;
  text-align: center;
  margin-bottom: 2em;
  font-weight: 200;
}

.my_heading {
  margin-left: 3em;
}
.other_heading {
  margin-right: 3em;
}

.chat_page-typer {
  margin-top: 0px;
}

.loading-message {
  color: #118DF0;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}